.item {
  padding: 15px;
  border: var(--border);
  border-radius: 15px;
  background: var(--item-bg);
  box-shadow: var(--box-shadow);
  overflow-wrap: break-word;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.author {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 7px;
}

.text {
  font-size: 20px;
}
