.text {
  font-size: 20px;
  font-weight: 400;
}

.link {
  font-size: 20px;
  font-weight: 400;
  transition: all 250ms linear;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link:hover,
.link:focus {
  color: orange;
}

.error {
  margin-top: 20px;
}
