.text {
  font-size: 20px;
  font-weight: 400;
}

.link {
  font-size: 20px;
  font-weight: 400;
  transition: all 250ms linear;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link:hover,
.link:focus {
  color: orange;
}

.error {
  margin-top: 20px;
}

.button {
  margin-bottom: 20px;

  border: none;
  padding: 10px;
  border-radius: 50px;
  color: var(--white);
  background: var(--nav-link-bg);
  transition: var(--transition);
}

.button:hover,
.button:focus {
  color: orange;
}
