.link {
  font-size: 20px;

  color: var(--white);
  padding: 10px;
  border-radius: 50px;
  background: var(--nav-link-bg);

  transition: var(--transition);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.linkActive {
  padding: 10px;

  font-size: 20px;
  border-radius: 50px;
  color: var(--accent-color);
  background: var(--nav-link-bg);

  transition: var(--transition);
}

.list {
  display: flex;
  justify-content: space-between;
}
