.form {
  margin-top: 15px;
  margin-bottom: 15px;
}
.input {
  border-radius: 20px;

  min-width: 80px;
  padding: 5px;
}
.btn {
  margin-left: 5px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 5px;
  min-width: 80px;
  padding: 5px;
}
