.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.button {
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 5px;
  min-width: 80px;
  padding: 5px;
  transition: all 0.25s linear;
}

.button:hover,
.button:focus {
  color: orange;
}
